<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Kadai3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e607b86931.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <%= render 'layouts/header.html.erb' %>

    <%= flash[:notice] %>


    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-11 col-sm-10 col-lg-8 col-xl-6 mx-auto">
            <p class="text-center">CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
